app.use(express.static("public"));

<%- include("header") -%>
<div class="wrapper">
    <div class="gallery">
        <h2>Gallery</h2>
        <hr>
    </div>
    <div class="container">

        <div class="slide">
            <div class="item" style="background-image: url('img/unique_blend.jpg');">
                <div class="content">
                <div class="name">Unique Blend of Young and Elderly People</div>
                    <!-- <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div> -->
                    <!-- <button>See More</button> -->
                </div>
                <div class="content">
                    <div class="name">Bridging</div>
                    <!-- <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div> -->
                    <!-- <button>See More</button> -->
                </div>
                </div>

                <div class="item" style="background-image: url('img/consultation.jpg');">
                <div class="content">
                    <div class="name">Consultation</div>
                    <!-- <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div> -->
                    <!-- <button>See More</button> -->
                </div>
                </div>

                <div class="item" style="background-image: url('img/cult events.jpg');">
                <div class="content">
                    <div class="name">Cultural Events</div>
                    <!-- <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div> -->
                    <!-- <button>See More</button> -->
                </div>
                <div class="item" style="background-image: url('img/cult_promotions.jpg');">
                <div class="content">
                    <div class="name">Cultural Promotions and Events</div>
                    <!-- <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div> -->
                    <!-- <button>See More</button> -->
                </div>
                                <div class="item" style="background-image: url('img/medi_consultacy.jpg');">
                <div class="content">
                    <div class="name">Medical Consultancy</div>
                    <!-- <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div> -->
                    <!-- <button>See More</button> -->
                </div>
            </div>
        </div>

        <div class="button">
            <button class="prev" onclick="prevFunc()" ><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next" onclick="nextFunc()" ><i class="fa-solid fa-arrow-right"></i></button>
        </div>

    </div>
    <style>
        @media ( max-width: 1200px ){

            .slide .item:nth-child(3){
                left: 60%;
                max-width: 300px;
                max-height: 200px;
            }
            .slide .item:nth-child(4){
                left: calc(60% + 220px);
                max-width: 300px;
                max-height: 200px;
            }

            .slide .item:nth-child(5){
                opacity: 0;
            }
        }
        @media ( max-width: 1000px ){

            .slide .item:nth-child(3){
                left: 75%;
                max-width: 300px;
                max-height: 200px;
            }
            .slide .item:nth-child(4){
                opacity: 0;
            }

        }
        @media (max-width: 750px) {
            .slide .item:nth-child(3){
                opacity: 0;
            }
        }
        @media (max-width: 400px) {
            .item .content{
                top: 30%;
            }
        }
    </style>
    <script>
        function prevFunc() {
            //console.log('hi');
            let items = document.querySelectorAll('.item')
            //console.log(items)
            document.querySelector('.slide').prepend(items[items.length - 1])
        }
        function nextFunc() {
            //console.log('hi');
            let items = document.querySelectorAll('.item')
            //console.log(items)
            document.querySelector('.slide').appendChild(items[0])
        }
    </script>
<%- include("footer") -%>